<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="bvt_Suite">
	<listeners>
		<listener class-name="utilities.Listeners"/>
	</listeners>
	
  <test thread-count="5" name="bvt_test">
    <classes>
      <class name="testcases.myfirstetstFW"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
